.vercel
.DS_Store
node_modules
*.zip
build-temp/
files_4_extracted/
files_4/
shift8-vercel/
files_5_extracted/
files_5_vercel/
files_6_extracted/
files_7_extracted/
files_8_extracted/
files_9_extracted/
